---
import Layout from "@layouts/Layout.astro";
import ButtonLink from "@components/ButtonLink.astro";
import Card from "@/components/Card.astro";
import BlobBackground from "@/components/BlobBackground.astro";

import InfiniteCarousel from "@/components/InfiniteCarousel.astro";

const sponsors = [
    {
        name: "Sponsor 1",
        logo: "https://picsum.photos/200",
    },
    {
        name: "Sponsor 2",
        logo: "https://picsum.photos/201",
    },
    {
        name: "Sponsor 3",
        logo: "https://picsum.photos/202",
    },
    {
        name: "Sponsor 4",
        logo: "https://picsum.photos/203",
    },
    {
        name: "Sponsor 5",
        logo: "https://picsum.photos/204",
    },
];
---

<Layout
    title="Alianza Emprende"
    description="Página principal de Alianza Emprende"
>
    <BlobBackground />
    <main class="flex flex-col px-4 sm:px-8 lg:px-20">
        <section
            class="py-10 md:py-20 lg:py-30 flex flex-col lg:flex-row justify-between items-center gap-8 lg:gap-12"
            id="hero"
        >
            <div
                class="flex flex-col gap-5 w-full lg:w-1/2 items-center lg:items-start"
            >
                <h1
                    class="font-semibold text-3xl sm:text-4xl md:text-5xl lg:text-6xl"
                >
                    Alianza Emprende
                </h1>
                <p
                    class="text-lg sm:text-xl md:text-2xl lg:text-3xl max-w-md text-center lg:text-left"
                >
                    Buscamos generar un ecosistema de apoyo que supla la
                    totalidad de las necesidades del joven emprendedor.
                </p>
                <div class="flex flex-row gap-4 text-center">
                    <ButtonLink label="Sé Parte" href="/join" bold />
                    <ButtonLink
                        label="Conoce Mas"
                        href="/acerca"
                        theme="secondary"
                        bold
                    />
                </div>
            </div>
            <img
                src="https://business-quote.co.uk/wp-content/uploads/2023/07/placeholder-hero.webp"
                alt="Reunión de negocios"
                class="w-full lg:w-1/2 max-w-2xl lg:max-w-4xl h-auto object-cover rounded-lg"
            />
        </section>
        <section
            id="sponsors"
            class="flex flex-col justify-center align-middle text-center gap-10 p-10"
        >
            <h1 class="text-2xl font-bold">Nuestros aliados son:</h1>
            <InfiniteCarousel sponsors={sponsors} />
        </section>
        <section
            id="valores"
            class="flex flex-col lg:flex-row justify-between gap-6 py-10 md:py-16"
        >
            <Card
                title="Mision"
                icon="rocket"
                text=`Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                repudiandae a rem distinctio consequatur nesciunt minus dolores
                beatae`
            />
            <Card
                title="Vision"
                icon="people"
                text=`Lorem ipsum dolor sit amet consectetur, adipisicing elit. quas
                impedit non quaerat dolores totam tempora exercitationem vel
                similique distinctio! Consectetur, id modi?`
            />
            <Card
                title="Valor"
                icon="medalla"
                text=`Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                corporis voluptas aspernatur voluptate aperiam eum iure deleniti
                ut est quidem? Doloribus, error et?`
            />
        </section>
    </main>
</Layout>
