
<footer class="py-4 px-8 shadow">
    <div class="flex justify-between items-center ">
        <div class="flex gap-3">
            <a href="https://github.com/open-source-uc" target="_blank">
            <img src="/Github-icon.png" alt="Icono Github" class="size-6 transition hover:scale-110">
            </a>
            <a href="https://www.instagram.com/osuc.dev/" target="_blank">
            <img src="/Instagram-icon.png" alt="Icono Instagram" class="size-6 transition hover:scale-110">
            </a>
            <a href="https://www.linkedin.com/company/open-source-euc" target="_blank">
            <img src="/Linkedin-icon.png" alt="Icono LinkedIn" class="size-6 transition hover:scale-110">
            </a>
        </div>
        <div class="text-right">
            <a href="https://osuc.dev/">
            <p class="text-sm text-gray-400 transition hover:contrast-200">Desarrollado por OpenSourceUC</p>
            </a>
        </div>
    </div>
</footer>