
<header class="flex items-center justify-between py-6 px-16 shadow gap-48">
    <div>
        <!-- logo temporal hasta tener una de mejor calidad -->
        <a href="/">
            <img src="/logo-placeholder.jpeg" alt="Logo" class="size-14">
        </a>
    </div>
    <nav class="flex gap-12 text-lg font-bold">
        <a href="/" class="transition hover:text-blue-500">Inicio</a>
        <a href="/agrupaciones" class="transition hover:text-blue-500">Agrupaciones</a>
        <a href="/noticias" class="transition hover:text-blue-500">Noticias</a>
    </nav>
</header>
